html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0; // 1
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; // 3
  background-color: rgb(52, 48, 48);
}
